@font-face {
  font-family: ADC;
  src: font-url('ADC-Semi-Bold') format('opentype');
}
@font-face {
  font-family: GM;
  src: font-url('Generation-Mono') format('opentype');
}
@font-face {
  font-family: IMVCR;
  src: font-url('IMVCR-Regular') format('opentype');
}
@font-face {
  font-family: STATION;
  src: font-url('AS-StationDisplay-Regular') format('opentype');
}
@font-face {
  font-family: ESENIN;
  src: font-url('esenin-script-one') format('truetype');
}
@font-face {
  font-family: NHU;
  src: font-url('NeueHaasUnica-Regular') format('truetype');
}
